body {
  background-color: #eee;
  font-family: Ubuntu;
}

.center {
  position: relative;
  text-align: center;
}

h1 {
  font-size: 2em;
}

.green {
  color: green;
}

button {
  width: 300px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -70px 0 0 -170px;
  font-size: 2em;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

button:hover {
  background-color: #4dbf52;
}

button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#tasks li {
  font-size: 1.3em;
}
