{% load i18n admin_static %}

{# This template is used to display "Create new task" button on index page #}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Task Queue Test Project</title>
    <meta name="author" content="Denis Krumko">
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/create_task.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  </head>
  <body>
    <button type="button" name="button" class="create_task">Create new task</button>
  </body>
</html>
