{% load i18n admin_static %}

{# This template is used to show information about tasks #}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Task Queue Test Project</title>
  <meta name="author" content="Denis Krumko">
  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/task_api.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>
  <div class="center">
    <h1>Settings</h1>
    <p><b>Task duration:</b> {{ task_duration }}</p>
    <p><b>Workers amount:</b> {{ max_workers }}</p>
    <p><b>Remove tasks on server restart:</b> {{ remove_tasks }}</p>
    <h1>Tasks</h1>
    <div id="tasks">
    </div>
  </div>
</body>

</html>
